.register {
  /* height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
  width: 400px;
  border: 2px solid #0071c2;
  margin: 200px auto;
  padding: 16px;
  background-color: #dbeefb;
}

.rContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #dbeefb;
}

.register-heading {
  font-size: 26px;
  font-weight: 500;
  color: #0071c2;
  margin-bottom: 28px;
}

.rInput {
  height: 30px;
  padding: 6px;
  border-radius: 4px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.rButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
